## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Martinsburg,US,83.30,overcast clouds,39.4562,-77.9639,"Holiday Inn Martinsburg, an IHG Hotel"
1,23,Butaritari,KI,81.64,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
2,27,Rasht,IR,80.42,broken clouds,37.2808,49.5832,Travellers Camping
3,31,Xiamen,CN,81.99,broken clouds,24.4798,118.0819,Xiamen Dongchen Hotel
4,35,Karapyshi,UA,83.91,scattered clouds,49.6424,30.7900,Zolotyy Kolos

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Prompt the user to to enter 3 vacation cities based on options available. 
vacation_start_city = (input("From what city would like to start your trip?"))
vacation_stop_city = vacation_start_city
vacation_stop_1_city = (input("What is the first city for your trip?"))
vacation_stop_2_city = (input("What is the second city for your trip? "))
vacation_stop_3_city = (input("What is the third city for your trip? "))

From what city would like to start your trip?Sedona
What is the first city for your trip?Coalinga
What is the second city for your trip? Shasta Lake
What is the third city for your trip? Saint George

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop_2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop_3_city]

In [11]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
55,441,Sedona,US,80.38,clear sky,34.8697,-111.761,Amara Resort and Spa

In [22]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
90,655,Coalinga,US,84.04,scattered clouds,36.1397,-120.3602,Royal Lodge Motel

In [23]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
45,331,Shasta Lake,US,82.81,overcast clouds,40.6804,-122.3708,Shasta Dam Motel

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [25]:
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(34.8697, -111.761)
(34.8697, -111.761)
(36.1397, -120.3602)
(40.6804, -122.3708)
(37.1041, -113.5841)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode= "DRIVING"
)

fig.add_layer(vacation_itinerary)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,441,Sedona,US,80.38,clear sky,34.8697,-111.7610,Amara Resort and Spa
1,655,Coalinga,US,84.04,scattered clouds,36.1397,-120.3602,Royal Lodge Motel
2,331,Shasta Lake,US,82.81,overcast clouds,40.6804,-122.3708,Shasta Dam Motel
3,313,Saint George,US,82.44,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))